body {
    margin: 0;
    background-image: url("./images/basketball6.jpg");
}
.container {
    margin: 50px auto;
    width: 600px;
    height: 400px;
    background: #1B244A;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 8px;
}
@media (max-width: 677px){
   .container{
     width: 70%;
   }
}
.inner{
  display: flex;
  justify-content: space-around;
}
.black-score{
  width: 155px;
  height: 120px;
  background: #080001;
  text-align: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.labels{
  color: white;
  font-family: Verdana;
  font-size: 40px;
  font-weight: 700;
}
@font-face {
  font-family: Cursed Timer ULiL;
   src: url(font.ttf);
}
.score{
  font-family: Cursed Timer ULiL;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  color: #F94F6D;
}
.ton{
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.btn{
  color: #9AABD8;
  background: #1B244A;
  border: 1px solid #9AABD8;
  font-family: Cursed Timer ULiL;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}
.btn{
  margin: 1.5rem auto;
}
.reset{
  width: 40%;
  transition: 1s ease-in-out;
  cursor: pointer;
}
.reset:hover{
   background-color: #fff;
   color: black
}

